.container {
    width: 100%!important;
}
.breadcrumb {
    margin-bottom: 0px!important;
}
.navbar-default {
    margin-bottom: 0px!important;
}
.navbar-nav {
    margin-top: 8px!important;
}

.btn-default {
    background-color: white;
    background-image: -webkit-linear-gradient(white, white);
    background-repeat: repeat-y;
}
.panel-default>.panel-heading {
    background-color: white;
    background-image: -webkit-linear-gradient(white, white);
    background-repeat: repeat-y;
}
.Button__root___1gz0c{
    background: white!important;
}

a {
    color: black!important;
}

.navbar-collapse {
    padding-left: 0!important;
}

.container {
    padding-left: 0!important;
}