**/target/
npm-debug.log
addressbook.iml
addressbook-main/addressbook-main.iml
ignite-server/ignite-server.iml
addressbook-main/src/main/react/node_modules/
addressbook-main/src/main/react/dist/bundle.js
addressbook-main/src/main/react/package-lock.json
addressbook-main/src/main/react/dist/bundle.js.map
/.idea/workspace.xml
/.idea/inspectionProfiles/
/.idea/codeStyles/
/.idea/libraries/*
/.idea/sonarlint/**
/.idea/compiler.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/encodings.xml
/.idea/jsLibraryMappings.xml
/httpRequests/