server:
  port: 9000
eureka:
  client:
    service-url:
      defaultZone: http://eureka:7777/eureka
  instance:
    lease-renewal-interval-in-seconds: 1
    lease-expiration-duration-in-seconds: 2
    prefer-ip-address: true
spring:
  application:
    name: addressbook
dao:
  implementation:${DAO_IMPLEMENTATION}