.container {
    width: 100% !important;
}

.breadcrumb {
    margin-bottom: 0px !important;
}

.navbar-default {
    margin-bottom: 0px !important;
}

.navbar-nav {
    margin-top: 8px !important;
}

.btn-default {
    background-color: white;
    background-image: -webkit-linear-gradient(white, white);
    background-repeat: repeat-y;
}

.panel-default > .panel-heading {
    background-color: white;
    background-image: -webkit-linear-gradient(white, white);
    background-repeat: repeat-y;
}

.Button__root___1gz0c {
    background: white !important;
}

a {
    color: black !important;
}

.navbar-collapse {
    padding-left: 0 !important;
}

.container {
    padding-left: 0 !important;
}

#adminContainer {
    width: 50%;
    display: inline-block;
}

#adminIgniteContainer {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

#adminContainer td {
    width: 50%;
}

#adminIgniteContainer td {
    width: 50%;
}

.alert-dismissable {
    overflow-x: hidden;
    max-height: 150px;
    overflow-y: scroll;
    font-size: 12px;
    padding: 5px;
}

#pageDropDown {
    display: inline-block !important;
}

.react-bs-table-sizePerPage-dropdown {
    display: inline-block !important;
    float: left;
}
