#mui-rte-root {
    display: flex;
    min-height: 200px;
    border: 1px solid rgba(81, 81, 81, 1);
    border-radius: 5px;
    padding-left: 15px;
}

.alert-success {
    background-color: rgb(56, 142, 60);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 4px;
    width: 500px;
    padding: 6px 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    max-height: 300px;
    overflow: hidden;
    background-image: linear-gradient(rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.11));
}

.alert-success .close-0-2-24 {
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.87);
    border-radius: 4px;
    margin-left: 1px;
    margin-bottom: 1px;
    margin-top: 4px;
    float: right;
}

.alert-danger {
    background-color: rgb(211, 47, 47);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    width: 500px;
    padding: 6px 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    max-height: 300px;
    overflow: hidden;
    background-image: linear-gradient(rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.11));
}

.alert-danger .close-0-2-24 {
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 4px;
    margin-left: 1px;
    margin-bottom: 1px;
    margin-top: 4px;
    float: right;
}

.body-0-2-28 {
    width: 440px;
    max-height: 220px;
    overflow: hidden;
}
.alert-warning {
    background-color: rgb(245, 124, 0);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 4px;
    width: 500px;
    padding: 6px 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    max-height: 300px;
    overflow: hidden;
    background-image: linear-gradient(rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.11));
}

.alert-warning .close-0-2-24 {
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.87);
    border-radius: 4px;
    margin-left: 1px;
    margin-bottom: 1px;
    margin-top: 4px;
    float: right;
}

.MuiTableHead-root .MuiFormControl-fullWidth .MuiFormHelperText-contained {
    margin-top: 6px;
}

.MuiTableHead-root .MuiFormHelperText-root {
    min-height: 30px;
}

::-webkit-scrollbar {
    right: 0;
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 8px;
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-moz-selection {
    color: white;
    background: grey;
}

::selection {
    color: white;
    background: grey;
}

th.MuiTableCell-head:first-of-type {
    vertical-align: middle;
}